<%= form_for(invite) do |f| %>
  <% if invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :inviting_user %>
    <%= user_link invite.inviting_user %>
  </div>

  <%= render("shared/roles", form: f) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
