<header class="header">
  <%= include_wiki "Special:Header" %>
</header>

<nav class="menu">
  <%= render "shared/menu" %>
</nav>

<section class="content">
  <%= render partial: "shared/notices" %>

  <%= yield %>
</section>

<footer class="footer">
  <%= include_wiki "Special:Footer" %>
</footer>
