<div class="header">
  <%= include_wiki "Special:Header" %>
</div>

<div class="menu">
  <%= render "shared/menu" %>
</div>

<div class="content">
  <%= render partial: "shared/notices" %>

  <%= yield %>
</div>

<div class="footer">
  <%= include_wiki "Special:Footer" %>
</div>
