<p>
<%= link_to "Home", wiki_path("") %>
<%= link_to "New page", new_page_path if user_can?(:create_page) %>
<%= link_to "All pages", pages_path if user_can?(:list_pages) %>
<%= link_to "All histories", histories_path if user_can?(:list_histories) %>
<% if current_user %>
  Logged in as
  <%= link_to current_user.name, current_user %>
  <%= link_to "Sign out", logout_path %>
  <%= link_to "Users", users_path %>
<% else %>
  <%= link_to "Sign in with Google", main_app.login_path %>
<% end %>
</p>
