<nav>
<%= link_to "New page", new_page_path if user_can?(:create_page) %>
<%= link_to "Pages", pages_path if user_can?(:list_pages) %>
<%= link_to "Histories", histories_path if user_can?(:list_histories) %>
<%= link_to "Users", users_path if user_can?(:list_users) %>
<%= link_to "Invites", invites_path if user_can?(:list_invites) %>
<%= link_to "Files", uploaded_files_path if user_can?(:list_files) %>
<% if current_user %>
  Logged in as
  <%= link_to current_user.name, current_user %>
  <%= link_to "Sign out", logout_path %>
<% else %>
  <%= link_to "Sign in with Google", main_app.login_path %>
<% end %>
</nav>
