<%= form_for(file) do |f| %>
  <% if file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %>
    <%= f.text_field :file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
