<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image_url, class: "avatar" %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= mail_to user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) if user_can?(:edit_user) %></td>
        <td><%= link_to "json", user, format: :json %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if user_can?(:delete_user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Invited users", invites_path if user_can?(:list_invites) %>
<%= link_to "Invite new user", new_invite_path if user_can?(:create_invite) %>


