<% title [@user.name] %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <%= link_to "json", user_path(@user, format: :json) %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @user.email %>
</p>

<p>
  <strong>Invited by:</strong>
  <%= @user.invite ? link_to(@user.invite.invited_user.name, @user.invite) : "n/a" %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image_url %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Created at</strong>
  <%= time_ago @user.created_at %>
</p>

<p>
  <strong>Last login</strong>
  <%= time_ago @user.last_login %>
</p>

<p>
  <strong>Edits</strong>
  <%= @user.histories.count %>
</p>

<p>
  <strong>Files</strong>
  <%= link_to @user.uploaded_files.count, uploaded_files_path %>
</p>

<h2>Recent edits</h2>

<%= render "shared/histories", histories: @user.histories %>

<%= link_to 'Edit', edit_user_path(@user) if user_can?(:edit_user) %>
<%= link_to 'Back', users_path %>
