<div class="meta-content">
<h1>Uploaded Files</h1>

<table class="uploaded-files">
  <thead>
    <tr>
      <th>Title</th>
      <th>File</th>
      <th>Edited</th>
      <th>By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr>
        <td><%= link_to uploaded_file.title, uploaded_file %></td>
        <td>
          <%= render "inline", uploaded_file: uploaded_file %>
        </td>
        <td>Edited <%= time_ago uploaded_file.created_at %></td>
        <td>by <%= user_link uploaded_file.user %></td>
        <td><%= link_to 'Edit', edit_uploaded_file_path(uploaded_file) if user_can?(:edit_file) %></td>
        <td><%= link_to 'Destroy', uploaded_file, method: :delete, data: { confirm: 'Are you sure?' } if user_can?(:delete_file) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uploaded File', new_uploaded_file_path if user_can?(:create_file) %>
</div>
