<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: document.getElementById("page_content"),
    toolbar: ["bold", "italic", "strikethrough", "heading", "|",
        "code", "quote", "table", "horizontal-rule", "|",
        "link", "image", "unordered-list", "ordered-list", "|",
        "preview", "side-by-side", "fullscreen", {
        name: "select-image",
        action: function create_select_image_popup(editor) {
          var refresh_links = function refresh_links() {
            $(".insert-image li").on('click', function(e) {
              pos = simplemde.codemirror.getCursor();
              simplemde.codemirror.setSelection(pos, pos);
              var text = "![" + $(e.target).parent("li").attr("data-title") + "](" + $(e.target).parent("li").attr("data-url") + ")";
              simplemde.codemirror.replaceSelection(text);
              modal.close();
            });
          };

          var request_content = function request_content() {
            $.ajax({
              url: "<%= j image_dialog_uploaded_files_path %>",
              success: function success(data, textStatus, jqXHR) {
                modal.setContent(data);
                refresh_links();
              }
            });
          };

          var modal = new tingle.modal({
            cssClass: ['insert-image'],
            onOpen: function() {
              request_content();
            }
          });
          modal.setContent("<span class=\"loading\">loading...</span>");
          modal.open();
        },
        className: "fa fa-star",
        title: "Custom Button",
    }]
  });
</script>

<%= j render("shared/menu") %>

