<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Latest version</th>
      <th>Author</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, wiki_path(page) %></td>
        <td><%= page.latest_version %></td>
        <td><%= page.author.name %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to "json", wiki_path(page), format: :json) %></td>
        <td><%= link_to 'Edit', edit_page_path(page) if user_can?(:edit_page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } if user_can?(:delete_page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path if user_can?(:create_page) %>
