<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Latest version</th>
      <% if user_can?(:see_page_author) %>
      <th>Author</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.order(title: :asc).limit(100).each do |page| %>
      <tr>
        <td><%= link_to page.title, wiki_path(page) %></td>
        <td>Edited <%= time_ago page.latest_version.created_at %></td>
        <% if user_can?(:see_page_author) %>
        <td>by <%= page.author ? link_to(page.author.name, page.author) : "nobody!" %></td>
        <% end %>
        <td><%= link_to "json", wiki_path(page, format: :json) %></td>
        <td><%= link_to 'Edit', edit_page_path(page) if user_can?(:edit_page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } if user_can?(:delete_page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path if user_can?(:create_page) %>
