<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Latest version:</strong>
  <%= @page.latest_version_id %>
  (out of
  <%= @page.histories.count %>
  versions)
</p>

<p>
  <strong>Latest content:</strong>
  <%= @page.content %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
