<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Railswiki' %></title>
  <%= stylesheet_link_tag    "railswiki/application", media: "all" %>
  <%= javascript_include_tag "railswiki/application" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- TODO consider including this in the dependencies, not as an external script -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <!-- modal popups with tingle -->
  <!-- TODO host this locally as well, poor GitHub -->
  <link rel="stylesheet" href="https://rawgit.com/robinparisi/tingle/master/dist/tingle.min.css">
  <script src="https://rawgit.com/robinparisi/tingle/master/dist/tingle.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "shared/layout" %>

</body>
</html>
