<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Railswiki' %></title>
  <%= stylesheet_link_tag    "railswiki/application", media: "all" %>
  <%= javascript_include_tag "railswiki/application" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag '/js/compiled', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "shared/layout" %>

</body>
</html>
