<!DOCTYPE html>
<html>
<head>
  <title>Railswiki</title>
  <%= stylesheet_link_tag    "railswiki/application", media: "all" %>
  <%= javascript_include_tag "railswiki/application" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <%= include_wiki "Special:Header" %>
</div>

<div class="menu">
  <%= render "shared/menu" %>
</div>

<div class="content">
  <%= yield %>
</div>

<div class="footer">
  <%= include_wiki "Special:Footer" %>
</div>

</body>
</html>
