<!DOCTYPE html>
<html>
<head>
  <title>Railswiki</title>
  <%= stylesheet_link_tag    "railswiki/application", media: "all" %>
  <%= javascript_include_tag "railswiki/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
<% if current_user %>
  <%= link_to "Sign out", signout_path %>
  <%= current_user.name %>
  <%= current_user.inspect %>
<% else %>
  <%= link_to "Sign in with Google", "/auth/google_login" %>
<% end %>
</p>

<%= yield %>

</body>
</html>
